.chart-bar {
    height: 100%;
    display: flex;
}

.chart-bar__inner {
    max-width: 2rem;
}

.chart-bar__fill {
    background: #4826b9;
    transition: 300ms ease-out;
    max-width: inherit;
    border-radius: 4px;
    /* height: 50%; */
}

.chart-bar__label {
    margin-block-start: auto;
}